body {
	color: black;
	font-family: Courier New;
}

input{
	font-family: Courier New;
}

#cy{
	width: 500px;
	height: 500px;
	position: absolute;
}
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}